* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: lightblue;
}
.main-container {
  background: white;
  width: 35%;
  margin: auto;
  margin-top: 20vh;
  text-align: center;
}
